amqp==5.3.1
asgiref==3.9.1
billiard==4.2.1
black==25.1.0
celery==5.5.3
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron_descriptor==2.0.5
cryptography==45.0.6
Django==5.2.5
django-celery-beat==2.8.1
django-cors-headers==4.7.0
django-pandas==0.6.7
django-redis==6.0.0
django-rest-passwordreset==1.5.0
django-stubs==5.2.2
django-stubs-ext==5.2.2
django-timezone-field==7.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
idna==3.10
isort==6.0.1
kombu==5.5.4
mypy==1.17.1
mypy_extensions==1.1.0
mysqlclient==2.2.7
numpy==2.3.2
packaging==25.0
pandas==2.3.2
pathspec==0.12.1
platformdirs==4.3.8
prompt_toolkit==3.0.52
pycparser==2.22
PyJWT==2.10.1
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
redis==5.2.1
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
types-PyYAML==6.0.12.20250809
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13
